html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  text-align: center;
  color: #f5f5f5;
  overflow-x: hidden;
}

hr {
  margin-bottom: 3em;
  width: 7%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

h1, h3 {
  color: #333;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section {
  display: block;
  overflow: hidden;
  padding: 0;
}

.section-grey {
  background: #f5f5f5 !important;
  padding: 50px 0;
}

.section__title {
  font-size: 24px;
  color: #3b3b58;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 14px 0;
}

.section__intro {
  display: block;
  text-align: center;
  margin: 0 5% 30px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.hero {
  background: rgba(0, 0, 0, .4);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.shape-layer {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.shape {
  overflow: hidden;
  position: absolute;
  height: auto;
}

.shape path {
  fill: none;
}

.shape-1 {
  width: 122px;
  top: 15%;
  left: 65%;
}

.shape-2 {
  width: 106px;
  bottom: 15%;
  left: 30%;
}

.shape-3 {
  width: 136px;
  top: 20%;
  left: 70%;
}

.shape-4 {
  width: 79px;
  top: 50%;
  left: 10%;
}

.shape-5 {
  width: 49px;
  top: 30%;
  right: 75%;
}

.shape-6 {
  width: 78px;
  top: 5%;
  left: 75%;
}

.shape-7 {
  width: 57px;
  bottom: 15%;
  right: 20%;
}

.shape-8 {
  width: 71px;
  bottom: 15%;
  right: 40%;
}

.shape-9 {
  width: 59px;
  top: 25%;
  left: 40%;
}

.col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.inner-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
}

@media only screen and (min-width: 320px) {
  .inner-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 400px) {
  .inner-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 680px) {
  .inner-text {
    font-size: 75px;
  }
}

@media only screen and (min-width: 950px) {
  .inner-text {
    font-size: 100px;
  }
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

@media only screen and (max-width: 465px) {
  .p1 {
    position: relative;
    top: 0.6em;
  }
}

.p2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #4FC3F7;
}

@media only screen and (max-width: 465px) {
  .p2 {
    position: relative;
    top: 0.6em;
  }
}

.p3 {
  display: block;
  font-size: 0.4em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #00b59f;
}

@media only screen and (max-width: 465px) {
  .p3 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    top: 0.6em;
  }
}

.hero-down {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  height: 2em;
  color: #f5f5f5;
  border-radius: 100%;
}

.hero-down:hover, .hero-down:focus {
  color: #ccc;
}

.hero-down:active {
  color: #f5f5f5;
}

.hero-down .btn-react {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
}

.hero-down i {
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}

@media only screen and (min-width: 43.75em) {
  .section__intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.section--cta {
  color: #454545;
  background: #f1f1f1;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin-bottom: 20px;
  background: #f9f9f9;
}

.box__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box__title {
  font-family: "Montserrat", sans-serif;
}

.box__more {
  color: #ff4e5c;
}

.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}

.box__content > i {
  color: #3b3b58;
}

.box__content:hover .box__more {
  color: #ff3545;
}

.box__content:hover .box__more i {
  padding-left: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.name-hero {
  background: rgba(0, 0, 0, 0.001);
  bottom: 0;
  height: 290px;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
  width: 85%;
}

.me-img {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/490306/profile/profile-512_1.jpg) no-repeat center center;
  background-size: 100%;
  background-position: 0px;
  border-radius: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;
}

.name-hero h1 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.name-hero h1 em {
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 700;
}

.name-hero p {
  color: rgba(0, 0, 0, 0.5);
  font-size: .75em;
  line-height: 1.5;
  margin: 0 8px 0 0;
  text-align: center;
}

.name-hero .name-text {
  margin: 0 auto;
  width: 85%;
}

.inner {
  margin: 0 auto;
  max-width: 975px;
  padding: 3em;
}

.inner h1 {
  font-size: 1.75em;
}

.inner p {
  color: rgba(0, 0, 0, 0.3);
}

.inner p em {
  color: rgba(0, 0, 0, 0.75);
  font-style: normal;
}

.inner section {
  margin: 100px auto;
}

@media only screen and (min-width: 43.75em) {
  .box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
}

.section-paragraph {
  color: #555;
  text-align: left;
}

.section-white {
  background: white;
  padding: 50px 0;
}

.white {
  color: #fff;
}

.background-img {
  background: url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=850&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 50px;
}

.no-padding {
  padding: 0 !important;
}

.box2 {
  display: block;
  height: 200px;
  position: relative;
  text-align: center;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.box2:hover .box-content {
  margin-top: -2em;
}

.box2 .box-content {
  height: 100%;
  position: relative;
  top: 50%;
  margin-top: -1em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
}

.projects {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1455894127589-22f75500213a?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=944&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.diy {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1416339212457-ef9ffadc2903?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=1707&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.mijn-werk {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1414690165279-49ab0a9a7e66?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=853&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.contact {
  width: 50%;
  float: left;
  background-color: #333;
  background: url(https://images.unsplash.com/photo-1421757350652-9f65a35effc7?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1280&h=850&q=80) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.projects:hover, .contact:hover, .diy:hover, .mijn-werk:hover {
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
}

.box2:hover hr {
  width: 15%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.spacing {
  margin-bottom: 60px;
}

.icon-row {
  margin: 0px auto;
  width: 100%;
}

.icon-row i {
  border-radius: 3px;
  cursor: pointer;
  font-size: 44px;
  margin: 0px 20px;
  padding: 20px 30px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}

@media only screen and (max-width: 465px) {
  .icon-row i {
    padding: 10px 10px;
    margin: 20px 10px;
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 465px) {
  .fa {
    font-size: 0.8em;
  }
}

.icon-row i:hover {
  background: #FFF;
}

.fa-google-plus:hover {
  color: #dd4b39;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-chevron-up {
  color: #fff;
}

a.button {
  display: inline-block;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

a.button:hover {
  background-color: #555;
}

a.button.small {
  background-color: #7f8c8d;
  padding: 8px;
  font-size: 0.8em;
}

a.button.small:hover {
  background-color: #95a5a6;
}

/*Skill*/
#techList {
  display: none;
  position: relative;
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-transform: uppercase;
  color: #666;
}

#techList li {
  position: absolute;
  top: 0;
  left: 0;
}

.html5 {
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform: scale(6.7, 7.8) translate(1.18em, 0.68em);
  -moz-transform: scale(7.5, 7.8) translate(1.18em, 0.68em);
}

.javascript {
  letter-spacing: -.04em;
  font-weight: 400;
  -webkit-transform: scale(1.3) rotate(90deg) translate(3.88em, -14.2em);
  -moz-transform: scale(1.4) rotate(90deg) translate(3.88em, -13.2em);
}

.accessibility {
  letter-spacing: -.05em;
  font-weight: 300;
  -webkit-transform: scale(1.3, 1.33) rotate(90deg) translate(3.38em, -19.7em);
  -moz-transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
}

.responsive {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform: scale(2) translate(2.12em, 5.14em);
  -moz-transform: scale(2) translate(2.12em, 5.14em);
}

.usability {
  font-weight: 500;
  letter-spacing: -.04em;
  -webkit-transform: scale(2.1, 2.4) translate(10.5em, 4.3em);
  -moz-transform: scale(2.85, 3) translate(7.14em, 3.55em);
}

.ajax {
  letter-spacing: -0.01em;
  font-weight: 700;
  -webkit-transform: scale(3.5, 3.8) rotate(90deg) translate(1.9em, -8.6em);
  -moz-transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
}

.css3 {
  letter-spacing: .01em;
  font-weight: 700;
  -webkit-transform: scale(6, 6.75) rotate(90deg) translate(1.12em, -5.74em);
  -moz-transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
  -webkit-transform: scale(4.08, 4.28) translate(5.42em, 3.25em);
  -moz-transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
}

.objectoriented {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform: scale(1.85, 1.9) translate(1.65em, 6.5em);
  -moz-transform: scale(1.85, 1.9) translate(1.86em, 6.5em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform: scale(2.75, 3) translate(1.54em, 4.95em);
  -moz-transform: scale(2.75, 3) translate(1.72em, 4.95em);
}

.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform: scale(3.5, 4) translate(6.8em, 0.95em);
  -moz-transform: scale(3.9, 4) translate(6.05em, 0.95em);
}

.crossbrowser {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: .2em;
  -webkit-transform: scale(1.5) translate(1.34em, 11.58em);
  -moz-transform: scale(2) translate(2.28em, 8.58em);
}

.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform: scale(2) translate(12.7em, 8.6em);
  -moz-transform: scale(2) translate(12.7em, 8.6em);
}

.jg {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: scale(3.3) translate(7.3em, 2.15em);
  -moz-transform: scale(3.4) translate(7.03em, 2.15em);
}

.skills {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: scale(1.8) translate(8.95em, 9.55em);
  -moz-transform: scale(1.8) translate(9.95em, 9.55em);
}

/*Footer*/
.footer {
  display: block;
  box-size: border-box;
  -webkit-box-size: border-box;
  padding: 40px 40px;
  color: #555;
  text-align: center;
  background: #f5f5f5;
}

.footer p {
  opacity: .65;
}

/*** Import Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

html, body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: #111;
}

.slideshow {
	position: relative;
  background: #000;
  max-width: 100%;
  overflow: hidden;
  z-index: 0;
}

.slideshow, .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
  background-position: center;
  background-size: cover;
  transform: scale(1.1);
  opacity: 0;
}

.slide.previous {
   z-index: 1;
   opacity: 1;
}

.slide.current {
  z-index: 2;
  animation: fadein 7000ms linear both;
}

@keyframes fadein {
  0%   {transform: scale(1); opacity: 0; }
  30%  { opacity: 1; }
  100% {transform: scale(1.1); opacity: 1; }
}

/*** Variables ***/
/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (max-width: 875px) {
  .button-container {
    margin: 10px 10px !important;
  }

  h2 {
    font-size: 15vw !important;
  }
}
@media screen and (max-width: 550px) {
  .nav-v2, .navbar-v2 {
    width: 90% !important;
  }
  .nav-v2 .nav-item-v2, .navbar-v2 .nav-item-v2 {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 350px) {
  .navbar-container {
    height: 120px !important;
  }

  .nav-v2, .navbar-v2 {
    flex-wrap: wrap !important;
  }
  .nav-v2 .nav-item-v2, .navbar-v2 .nav-item-v2 {
    margin: 5px 5px !important;
  }
}
/* -------------------------------- 
    General Style
-------------------------------- */

h2 {
  font-size: 100px;
  position: relative;
  color: #5b85c0;
  background-image: -webkit-linear-gradient(90deg, #a558d4 0%, #34619e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

p.intro-des {
  position: relative;
  font-size: 20px;
  line-height: 35px;
  margin-top: 50px;
}
p.intro-des a {
  color: #d0d0d0;
}
p.intro-des span {
  font-size: 15px;
}

.button-row-container {
  width: 250px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/*** Navbar ***/
.navbar-container-v2 {
  position: fixed;
  top: 0;
  left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #111 50%, rgba(0, 0, 0, 0) 100%);
}

.nav-v2, .navbar-v2 {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav-v2 a, .navbar-v2 a {
  color: #f1f1f1;
  text-decoration: none;
}
.nav-v2 .nav-item-v2, .navbar-v2 .nav-item-v2 {
  padding: 5px 0;
}
.nav-v2 .nav-item-v2:after, .navbar-v2 .nav-item-v2:after {
  content: '\00a0';
  display: block;
  height: 1px;
  width: 100%;
  position: relative;
  top: 3px;
  background: transparent;
  transition: top .3s ease-out;
  -webkit-transition: top .3s ease-out;
}

.nav-v2 .nav-item-v2:hover:after, .navbar-v2 .nav-item-v2:hover:after {
  top: 7px;
  background: #d0d0d0;
}

.active-v2:after {
  height: 2px !important;
  background: #00b59f !important;
}

section.page-container {
  margin: auto;
  width: 90%;
  max-width: 800px;
  height: 100vh;
  position: relative;
  text-align: center;
}

.section-container {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.section-container h4 {
  font-size: 50px;
  font-weight: 300;
  color: #d0d0d0;
  margin-bottom: 30px;
}

/*** General Button Styles ***/
.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.button-container .flipper {
  transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.button-container .button {
  height: 45px;
  width: 200px;
  border-radius: 3px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
  box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
}
.button-container .button i.fa {
  color: white;
  font-size: 20px;
  margin: auto;
  text-shadow: .5px 1px 2px #d0d0d0;
}
.button-container .button.front {
  z-index: 10;
}
.button-container .button.back {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

/* -------------------------------- 
      Flip
-------------------------------- */
/*** Horizontal Flip ***/
.button-flip-horizontal .front {
  background-image: -webkit-linear-gradient(90deg, #53a0fd, #01c2f3);
  background-image: linear-gradient(90deg, #53a0fd, #01c2f3);
}
.button-flip-horizontal .back {
  background-image: -webkit-linear-gradient(90deg, #01c2f3, #53a0fd);
  background-image: linear-gradient(90deg, #01c2f3, #53a0fd);
  transform: rotateY(-180deg);
}
.button-flip-horizontal:hover .flipper-flip-horizontal {
  transform: rotateY(180deg);
}

/*** Vertical Flip ***/
.button-flip-vertical .flipper-flip-vertical {
  transform-origin: 100% 22.5px;
}
.button-flip-vertical .front {
  background-image: linear-gradient(90deg, #20438e, #3b5998);
}
.button-flip-vertical .back {
  transform: rotateX(180deg);
  background-image: linear-gradient(90deg, #3b5998, #20438e);
}
.button-flip-vertical:hover .flipper-flip-vertical {
  transform: rotateX(-180deg);
}

/*** Oblique Flip ***/
.button-flip-oblique .front {
  background-image: linear-gradient(90deg, #125688, #ded1c1);
}
.button-flip-oblique .back {
  transform: rotateY(-180deg);
  background-image: linear-gradient(90deg, #ded1c1, #125688);
}
.button-flip-oblique:hover .flipper-flip-oblique {
  transform: rotate3d(1, 10, 0, 180deg);
}

/* -------------------------------- 
      3D-Flip
-------------------------------- */
.button-flip3d-vertical1 .flipper-flip3d-vertical1 {
  transform-origin: 100% 22.5px;
}
.button-flip3d-vertical1 .front {
  transform: translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical1 .back {
  -webkit-transform: rotateX(90deg) translateZ(22.5px);
  -ms-transform: rotateX(90deg) translateZ(22.5px);
  transform: rotateX(90deg) translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical1:hover .flipper-flip3d-vertical1 {
  transform: rotateX(-90deg);
}

.button-flip3d-vertical2 .flipper-flip3d-vertical2 {
  transform-origin: 100% 22.5px;
}
.button-flip3d-vertical2 .front {
  transform: translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical2 .back {
  -webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(22.5px);
  -ms-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(22.5px);
  transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical2:hover .flipper-flip3d-vertical2 {
  transform: rotateX(90deg);
}

/* -------------------------------- 
      Slide
-------------------------------- */
.slider i {
  transition: all .3s ease-in-out;
}
.slider i:before {
  transition: all .3s ease-in-out;
}
.slider i:after {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
  content: 'Dribbble';
  position: absolute;
  opacity: 0;
  top: 2.5px;
  transition: all .3s ease-in-out;
}

/*** Horizontal Slide ***/
.button-slide-horizontal .button {
  background-image: linear-gradient(90deg, #ea4c89, #ee9b83);
}
.button-slide-horizontal i {
  position: relative;
  display: inline-block;
  transition: all .3s ease-in-out;
}
.button-slide-horizontal i:before {
  transition: all .3s ease-in-out;
}
.button-slide-horizontal:hover i {
  padding-right: 100px;
}
.button-slide-horizontal:hover i:before {
  opacity: 0;
}
.button-slide-horizontal:hover i:after {
  opacity: 1;
}

/*** Vertical Slide ***/
.button-slide-vertical {
  overflow: hidden;
  height: 45px;
}
.button-slide-vertical .button {
  background-image: linear-gradient(90deg, #1c84a6, #3CB371);
  overflow: hidden;
  height: 45px;
}
.button-slide-vertical i {
  position: relative;
  margin: 0 !important;
  top: 10px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.button-slide-vertical i.back {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translateY(30px);
  opacity: 0;
}
.button-slide-vertical:hover i.front {
  transform: translateY(-30px);
  opacity: 0;
}
.button-slide-vertical:hover i.back {
  transform: translateY(-20px);
  opacity: 1;
}

/* -------------------------------- 
      Switch
-------------------------------- */
.switch-container {
  display: inline-block;
  margin: 10px 10px;
}

/*** Toggle Slide Style ***/
.switch-toggle-slide {
  width: 250px;
  height: 20px;
  border: 1px solid rgba(218, 220, 222, 0.7);
  border-radius: 3px;
  will-change: transform;
  background: rgba(74, 82, 85, 0.8);
  position: relative;
}
.switch-toggle-slide span.active {
  display: block;
  position: absolute;
  left: 0;
  width: 125px;
  height: 20px;
  background: rgba(218, 220, 222, 0.7);
  z-index: -1;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.switch-toggle-slide .switch-slide {
  width: 125px;
  height: 20px;
  display: inline-block;
  float: left;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  color: white;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.switch-toggle-slide .switch-slide#slide-on {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.switch-toggle-slide .switch-slide#slide-off {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.switch-toggle-slide .switch-slide.active-switch {
  color: #3c3c3c;
}

/*** Slim Switch Style ***/
input.slim {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input.slim + label {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 10px;
  width: 40px;
  border-radius: 15px;
}
input.slim + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: transparent;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
input.slim + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  top: -5px;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
input.slim:checked + label:before {
  width: 40px;
}
input.slim:checked + label:after {
  left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input#slim-blue + label {
  background: rgba(60, 187, 247, 0.7);
}
input#slim-blue + label:after {
  background: #3CBBF7;
}
input#slim-blue:checked + label:before {
  background: rgba(60, 187, 247, 0.7);
}

input#slim-red + label {
  background: rgba(231, 76, 60, 0.7);
}
input#slim-red + label:after {
  background: #E74C3C;
}
input#slim-red:checked + label:before {
  background: rgba(231, 76, 60, 0.7);
}

input#slim-green + label {
  background: rgba(19, 191, 17, 0.7);
}
input#slim-green + label:after {
  background: #13bf11;
}
input#slim-green:checked + label:before {
  background: rgba(19, 191, 17, 0.7);
}

input#slim-black + label {
  background: rgba(0, 0, 0, 0.7);
}
input#slim-black + label:after {
  background: black;
}
input#slim-black:checked + label:before {
  background: rgba(0, 0, 0, 0.7);
}

/*** iOS Style ***/
input#ios {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input#ios + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #a6a6a6;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}
input#ios + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: transparent;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
input#ios + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
input#ios:checked + label:before {
  width: 50px;
  background: #13bf11;
}
input#ios:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*** Skewed Switch Style ***/
.switch-skewed {
  position: relative;
  height: 30px;
  width: 50px;
  margin-top: 29px;
  background: #a6a6a6;
  transform: skew(-15deg, 0);
  overflow: hidden;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.switch-skewed .skewed-container {
  width: 100px;
  height: 30px;
  transform: skew(15deg, 0);
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.switch-skewed .skewed {
  float: left;
  height: 30px;
  width: 50px;
  display: inline-block;
  color: white;
}
.switch-skewed:hover {
  background: #13bf11;
}
.switch-skewed:hover .skewed-container {
  transform: translateX(-50px) skew(15deg, 0);
}

/*** Flat Switch Style ***/
.switch-flat {
  height: 35px;
  width: 35px;
  margin-top: 30px;
  background-image: -webkiet-linear-gradient(#ece9e9 10%, #ffffff 100%);
  background-image: linear-gradient(#ece9e9 10%, #ffffff 100%);
  -webkit-box-shadow: inset 0px 1px 1px #aeaaaa;
  box-shadow: inset 0px 1px 1px #aeaaaa;
  border-radius: 50%;
  overflow: hidden;
}
.switch-flat .flat-container {
  height: 70px;
  width: 35px;
  color: #a6a6a6;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-radius: 50%;
}
.switch-flat .flat {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: -1;
}
.switch-flat .flat.flat-off {
  background: transparent;
}
.switch-flat .flat.flat-on {
  color: white;
  font-size: 15px;
}
.switch-flat:hover {
  background: rgba(19, 191, 17, 0.7);
  -webkit-box-shadow: inset 0px 1px 1px #13bf11;
  box-shadow: inset 0px 1px 1px #13bf11;
}
.switch-flat:hover .flat-container {
  transform: translateY(-35px);
}

/* -------------------------------- 
      Water Fill
-------------------------------- */
/*** Water Fill ***/
p.reference {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 12px;
}
p.reference a {
  color: #3c3c3c;
}

.button-water-fill .button {
  background-position: 0 -50%;
  background-repeat: repeat-x;
  transition: background-position .75s ease;
}
.button-water-fill .button:hover {
  background-position: 100% 60%;
  color: white !important;
}
.button-water-fill.wave-blue .button {
  color: #3CBBF7;
  background-image: url("https://s32.postimg.org/k0nwdbgol/wave_blue.png");
}
.button-water-fill.wave-red .button {
  color: #E74C3C;
  background-image: url("https://s32.postimg.org/5798sk8xh/wave_red.png");
}
.button-water-fill.wave-yellow .button {
  color: #F8E71C;
  background-image: url("https://s32.postimg.org/ku0i5xmph/wave_yellow.png");
}
.button-water-fill.wave-white .button {
  background-color: black;
  color: white;
  background-image: url("https://s32.postimg.org/6c3axxved/wave_white.png");
}
.button-water-fill.wave-white .button:hover {
  color: black !important;
}
.button-water-fill.wave-black .button {
  color: black;
  background-image: url("https://s32.postimg.org/g5kiaqxit/wave_black.png");
}

.button-v2 {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 30px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #00b59f;
  border: 1px solid #00b59f;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-v2:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  background-color: #00b59f;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-v2:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-v2:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-v2:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.loader-content {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.Loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 14.6rem;
  margin-top: 7.3rem;
  margin-bottom: 7.3rem;
}
.Loader:before, .Loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(0 0 0.75556rem rgba(255, 255, 255, 0.75));
}
.Loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1.7rem #fff;
  animation-name: pulsA;
}
.Loader:after {
  width: calc(100% - 1.7rem*2);
  padding-bottom: calc(100% - 1.7rem*2);
  box-shadow: 0 0 0 0 #fff;
  animation-name: pulsB;
}

@keyframes pulsA {
  0% {
    box-shadow: inset 0 0 0 1.7rem #fff;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}
@keyframes pulsB {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1.7rem #fff;
    opacity: 1;
  }
}

.logo {
  display: block;
  position: absolute;
  width: 16%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-pic {
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.new-square-block {
  z-index: 10;
  position: relative;
  height: 300px;
  width: 60%;
  margin: 0 auto;
  background: #000;
}

.new-square-block:after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  transform: translateX(-50%) rotateY(70deg);
  border: 300px solid transparent;
  border-top-color: #000;
}

.new-square-block:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  background: transparent;
  right: 0;
  top: 0;
  transform: translateX(50%) rotateY(70deg);
  border: 300px solid transparent;
  border-top-color: #000;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
}