body {
  background: #222;
  font-family: "Helvetica Neue","Helvetica",Arial,"Lucida   Grande",sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1em;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #00B59F;
  color: #00B59F;
  display: inline-block;
  margin-right: -1em;
}

h3:nth(1) {
  animation: bounce 1s ease-in-out forwards;
}

.container {
  font-size: 16px;
  width: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  color: #00B59F;
  text-align: center;
}

.bar {
  height: .3em;
  width: 100%;
  border-radius: 10px;
  background: transparent;
  box-shadow: inset 0px 0px 8px #00B59F;
  overflow: hidden;
  padding: 5px;s
}

.progress {
  height: inherit;
  border-radius: inherit;
  width: 0;
  background: #6EC3EC;
  animation: load 3s linear infinite;
  animation-delay: 2s;
}
.play-pause {
  display: block;
  width: 42px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
  position: relative;
}

.play-pause__playhead {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 42px;
  border-color: transparent transparent transparent #2A2C2D;
  transform-origin: 100% 50%;
}
.logo {
  width: 100%;
}
.logo__img {
  width: 60%; 
}

.play-pause__pausehead {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
.play-pause__pausehead:before, .play-pause__pausehead:after {
  content: "";
  flex: 1;
  width: 50%;
  height: 100%;
  background: #2A2C2D;
}
.play-pause__pausehead:before {
  margin-right: 4px;
}
.play-pause__pausehead:after {
  margin-left: 4px;
}

.player {
  margin-top: 20px;
}

.audio__btn {
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 0px;
  color: #51af97;
  font-size: 8em;
  transition: all.3s;
}

.audio__btn:hover {
  color: #fff;
}

.audio__track-pause {
  margin-top: -15px;
  display: none;
  cursor: pointer;
  width: 20em;
}

body {
  background: #000;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes load {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    float: right;
  }
}

/* ===== Оптимизация под мобильные устройства ===== */
@media screen and (max-width: 600px) {
  .container {
    font-size: 13px;
    width: 80%;
  }
  .logo {
    width: 100%;
  }
  .bar {
    width: 100%;
  }
  h3 {
    line-height: 1.6em;
  }
}